#favorites-holder
  .row
    -if current_renter
      -@favorites.each do |fav|
        .large-4.small-12.columns
          .favorite-box
            %ul.grid.cs-style-2
              %figure
                -if fav.office_listing.images.first.link_image
                  =image_tag "#{fav.office_listing.images.first.link_image}"
                -elsif fav.office_listing.images.first.image
                  =image_tag "#{fav.office_listing.images.first.image}"
                -else 
                  =image_tag "http://www.cleaningforlondon.com/Portals/0/FlexibleOfficeSpace.jpg", class: "no-image"

                %figcaption
                  %h3 Want to see this space in person?
                  %span Contact tanay@aceoffice.com for details or check out upcoming showings: 
                  %a{:href => "#", :"data-reveal-id" => "viewings-dates-box", :remote => true, :controller => "viewings", :action => ""}
                    Hello Tanay

#viewings-dates-box.reveal-modal
  %h3 Upcoming Viewings:
  .viewings-dates
/ #office_viewings_dates_box
/   = button_to "View at this time", {:controller => "apopointments", :action => "create", :renter_id => current_renter.id, :viewing_id => 

/   :appointment => {renter_id: current_renter.id, office_listing_id: @office_listing.id}, :office_listing_id => @office_listing.id}, :method => :post, :remote => true, class: "button favorite-button "


=form_for("broker", :url => new_broker_session_path, :html => {:id => "broker_sign_in", :class => "reveal-modal"}) do |f|
  %a.close-reveal-modal ×
  %h3 Broker Sign In
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.check_box :remember_me
  = f.label :remember_me
  = f.submit 'Sign in'
  = link_to "Forgot your password?", new_broker_password_path('broker')


  / .appointments
  /   - @appointments.each do |appointment|
  /     .appointment
  /       =link_to appointment.viewing.office_listing.address, neighborhood_office_listing_path(neighborhood_id: appointment.viewing.office_listing.neighborhood.id, id: appointment.viewing.office_listing.id)
