		
<script src="stellar.js"></script>
<script>
$(function(){
	$.stellar({
		horizontalScrolling: false,
		verticalOffset: 40
	});
});
</script>

<div class="photo new_york" data-stellar-background-ratio="0"><span class="city_names"></span></div>
<div class="photo diff-space" data-stellar-background-ratio="2">
  <a href="<%= city_neighborhoods_path(city_id: City.find_by_name("New York")) %>"><div class="small button browse">Browse office spaces</div></a> submitted by <span class="special">registered brokers</span>.
</div>	
<div class="photo singapore" data-stellar-background-ratio="0"><span class="city_names"></span></div>
<div class="photo diff-space" data-stellar-background-ratio="2">
  <a href="<%= current_renter ? renter_favorites_path(renter_id: current_renter.id) : new_renter_registration_path %>"><div class= "small button favorites">Add Listings to Favorites</div></a> to browse at<span class="special3"> your convenience</span>.
</div>
<div class="photo sf" data-stellar-background-ratio="0">
	<span class="city_names"></span>
</div>
<div class="photo diff-space-change" data-stellar-background-ratio="2">
  Build a <span class="special2">visual, browseable itinerary</span> of <span class="special3">viewings</span> scheduled <span class="special">by brokers</span>.	
	<br>
	<% if current_renter || current_broker %>
		<a class="button small radius browse-offices" href="<%= neighborhoods_path(city_id: City.find_by_name('New York').id) %>"> Browse our selection</a>
	<% end %>
	<% unless current_renter || current_broker %>	
    <br>
		<a class="signup-div button small final-signup" href="#">Sign Up Today</a>
	<% end %>
	<br>
	<a class="small button signup" data-reveal-id="renter_sign_up" href=<%= new_renter_registration_path%>>Renter Sign Up</a>
	<a class="small button signup" data-reveal-id="broker_sign_up" href=<%= new_broker_registration_path%>>Broker Sign Up</a>
</div>	
<div class="photo hk" data-stellar-background-ratio="0"><span class="city_names"></span></div>
<div class="photo diff-space-final" data-stellar-background-ratio="0"><span>Find the <span class = 'special3'> perfect </span> <span class = 'special2'> space </span> for your <span class = 'special'> business </span></span></div>


