%script{:src => "/assets/fotorama.js"}
%link{:href => "/assets/fotorama.css", :rel => "stylesheet"}

%h1 Office Listing
#office-holder
  .listing-stats  
    #address 
      =@office_listing.address
    .listing-stats-2
      #rent
        %span.special2 Rent: 
        $#{@office_listing.rent}/month
      #size
        %span.special2 Space: 
        #{@office_listing.size} sq. feet
      #lease-type
        %span.special2 Office Type:
        #{@office_listing.office_type}

    #map-stats-amenities    
      #map-holder
        #map-canvas
        #pano

      .amenities 
        .amenities-label Amenities  
        %table{:border => "3", :bordercolor => "black", :cellpadding => "3", :cellspacing => "3", :style => "background-color:rgba(30, 125, 188, 0.5)", :width => "100%"}
          %thead
            %tr
              %th.table-heading Amenity
              %th.table-heading Available
          %tbody
            %tr
              %td Kitchen
              %td.icon-holder
                %i{class: "kitchen_check #{@office_listing.kitchen ? 'general foundicon-checkmark' : 'general foundicon-remove'}" }
            %tr
              %td Light
              %td.icon-holder
                %i{class: "light_check #{@office_listing.light ? 'general foundicon-checkmark' : 'general foundicon-remove'}" }
            %tr
              %td Patio
              %td.icon-holder
                %i{class: "patio_check #{@office_listing.patio ? 'general foundicon-checkmark' : 'general foundicon-remove'}" } 
            %tr
              %td Reception
              %td.icon-holder
                %i{class: "reception_check #{@office_listing.reception ? 'general foundicon-checkmark' : 'general foundicon-remove'}" }
            %tr
              %td Shower
              %td.icon-holder
                %i{class: "shower_check #{@office_listing.shower ? 'general foundicon-checkmark' : 'general foundicon-remove'}" }
            %tr
              %td High Ceiling
              %td.icon-holder
                %i{class: "ceiling_check #{@office_listing.high_ceiling ? 'general foundicon-checkmark' : 'general foundicon-remove'}" }

  #office-images
    .fotorama{"data-width" => "100%","data-height" => "500px", "data-transition" => "dissolve", "data-nav" =>"thumbs", "data-fit" => "cover", "data-allow-full-screen" => 'true', "data-thumb-width" => "100", "data-thumb-height" => "100"}
      -@office_listing.images.each do |image|
        %img{:src => "#{image.link_image || image.image || ""}"}

  


= render partial: '/office_listings/partials/helper2', locals: {office_listing: @office_listing}

