
%script{:src => "fotorama.js"}
%link{:href => "fotorama.css", :rel => "stylesheet"}

%h1 Office Listing
#office-holder
  .listing-stats  
    #address-office-show-page
      =@office_listing.address
    .listing-stats-2
      #rent-office-show-page
        $#{@office_listing.rent}/month
      #size-office-show-page
        #{@office_listing.size} sq. feet
      #lease-type-office-show-page
        =@office_listing.office_type

  #map-image-holder
    #map-canvas2
    #office-images
      .fotorama{"data-width" => "100%", "data-transition" => "dissolve", "data-nav" =>"thumbs", "data-fit" => "cover"}
        -@office_listing.images.each do |image|
          %img{:src => "#{image.link_image || image.image || ""}"}

  .listing-stats-2  
    .amenities 
      .amenities-label Amenities
      .amenities-1
        .kitchen{id: "#{@office_listing.kitchen ? 'true' : ''}" } Kitchen
        .light{id: "#{@office_listing.light ? 'true' : ''}" } Light
        .patio{id: "#{@office_listing.patio ? 'true' : ''}" } Patio
      .amenities-2
        .reception{id: "#{@office_listing.reception ? 'true' : ''}" } Reception
        .shower{id: "#{@office_listing.shower ? 'true' : ''}" } Shower
        .high_ceiling{id: "#{@office_listing.high_ceiling ? 'true' : ''}" } High Ceiling

    .broker-info
      #broker-label Contact Broker
      #broker-details
        #broker-name
          #{@office_listing.broker.first_name} #{@office_listing.broker.last_name}
        #broker-email
          =@office_listing.broker.email


= render partial: '/office_listings/partials/helper2', locals: {office_listing: @office_listing}

