<!DOCTYPE html>
<html>
<head>
	<title>OfficeClassifieds</title>
  <script>
    <% if current_renter %>
      renterId = <%= current_renter.id %>;
    <% else %>
      renterId = null;
    <% end %>
  </script>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE']}&amp&sensor=false" %>
	<%= csrf_meta_tags %>
  <script>
    // Pusher setup

    $(function() { 
    if (renterId != null) {
      var pusher = new Pusher('<%= Pusher.key %>');
      var channel = pusher.subscribe('renter-' + renterId)
      channel.bind('notify', function(data) {
        var notification = $('<li class="unread" data-notification-id="' + data.notificationId +'"><a href=" ' + data.route + '"> ' + data.message + '</a></li>');
        $('#renter-notifications .dropdown').prepend(notification);
      });
    }
  });
  </script>
</head>
<body>

	<nav class="top-bar">
		<ul class="title-area">
			<li class="name logo2">
				<!-- <h1><a href="/"> Ace<strong><span id="logo-color">Office</span></strong> </a></h1> -->
				<%= image_tag "ace_office_logo_3.png", :class => "logo2"  %>	
			</li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<% if current_broker %>
				<li class='submit_listing_tag'> <a href=" <%= neighborhood_add_listing_neighborhoods_path %>"> Submit Listing</a> </li>
				<% end %>
				<li id="browse-offices" class="has-dropdown"><a href="#">Browse Offices</a>
					<ul class="dropdown">
			            <% City.all.each do |city| %>
			              <li><a href='<%= city_neighborhoods_path(city_id: city.id) %>'><%= city.name %></a></li>
			            <% end %>
					</ul>
				</li>
				<% unless current_renter || current_broker %>
					<a id ="nav-signup" class="signup-div button" href="#">Sign Up</a>
					<a id="nav-login" class="login-div button" href="#">Login</a>
				<% end %>

					<li id="browse-offices" class="has-dropdown"><a href="#">My Favorites</a>
					<ul class="dropdown">
			      <li><%= link_to "View Favorites", renter_favorites_path(renter_id: current_renter.id), class: "my-favorites" %></li>
			      <li><%= link_to "View Itinerary", href="#", class: "my-favorites" %></li>
					</ul>
				</li>
				<% if current_renter %>
          <li id="renter-notifications" class="has-dropdown"><a href="#"><i class="general foundicon-inbox"></i></a>
            <ul class="dropdown">
              <% current_renter.notifications.reverse.each_with_index do |notification, index| %>
                <% break if index > 3 %>
                <li data-notification-id='<%= notification.id %>' class='<%= notification.read ? "read" : "unread"%>'><a href='<%= neighborhood_office_listing_path(neighborhood_id: notification.office_listing.neighborhood.id, id: notification.office_listing.id) %>'>
                  <%= notification.subject %></a></li>
              <% end %>
            </ul>
          </li>
          <li id="renter-settings" class="has-dropdown"> <a href="#"><i class="general foundicon-settings"></i></a>
            <ul class="dropdown">
              <li><a href="#" id="renter-email"><%= current_renter.email %></a></li>
              <li><a href="#">Edit Notification Preferences</a></li>
              <li><%= link_to "Sign Out", destroy_renter_session_path, method: :delete %></li>
            </ul>
          </li>
				<% end %>

				<% if current_broker %>
					<li class="display_user"> <%= current_broker.email %> </li>
					<%= link_to "Sign Out", destroy_broker_session_path, method: :delete, class: "button signout"%>
				<% end %>

				<li id="renter-signup" class=" button signup" data-reveal-id="renter_sign_up" href=<%= new_renter_registration_path%>>Renter Signup</li>
				<li id="broker-signup" class=" button signup" data-reveal-id = "broker_sign_up" href=<%= new_broker_registration_path%>>Broker Signup</li>
				<li id="renter-login" class="button login" data-reveal-id="renter_sign_in" href=<%= new_renter_session_path%>>Renter Login</li>
				<li id= "broker-login" class="button login" data-reveal-id="broker_sign_in" href=<%= new_broker_session_path%>>Broker Login</li>		
			</ul>
		</section>
	</nav>
  <div id='<%= "#{params[:controller].parameterize}" %>' class='<%= "#{params[:action]}" %>'>
    <%= yield %>
  </div>
	<script> $(document).foundation(); </script>

	<div id="broker_login_box">
	  <%= form_for("broker", :url => new_broker_session_path, :html => {:id => "broker_sign_in", :class => "reveal-modal"}) do |f| %>
		  <a class="close-reveal-modal">&#215;</a>
			<h3>Broker Sign In</h3>
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	    <%= f.check_box :remember_me -%>
	    <%= f.label :remember_me -%>
	    <%= f.submit 'Sign in' %>
	    <%= link_to "Forgot your password?", new_broker_password_path('broker') %>
	  <% end %>
	</div>

	<div id="renter_login_box">
	  <%= form_for("renter", :url => new_renter_session_path, :html => {:id => "renter_sign_in", :class => "renter-login-modal reveal-modal"}) do |f| %>
	  	<a class="close-reveal-modal">&#215;</a>
			<h3>Renter Sign In</h3>
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	    <%= f.check_box :remember_me -%>
	    <%= f.label :remember_me -%>
	    <%= f.submit 'Sign in' %>
	    <%= link_to "Forgot your password?", new_renter_password_path('renter') %>
	  <% end %>
	</div>

	<div id="renter_signup_box">
		<%= form_for("renter", :url => renter_registration_path, :html => { :id => "renter_sign_up", :class => "reveal-modal"} ) do |f| %>

		  <a class="close-reveal-modal">&#215;</a>
		<h3>Renter Sign Up</h3>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true %></div>

		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>

		  <div><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></div>

		  <div><%= f.submit "Sign up" %></div>
		 <% end %>
	</div>

	<div id="broker_signup_box">
		<%= form_for("broker", :url => broker_registration_path, :html => { :id => "broker_sign_up", :class => "reveal-modal"} ) do |f| %>

		  <a class="close-reveal-modal">&#215;</a>
		<h3>Broker Sign Up</h3>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true %></div>

		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>

		  <div><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></div>

		  <div><%= f.submit "Sign up" %></div>
		 <% end %>
	</div>
</body>
</html>


